.form {
    width: 350px;
    height: 97px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 8px;
}
.header__searching{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.searching__city{
    color: white;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
}
.searching__buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.searching__firstButton {
    font-size: 18px;
    font-weight: 400;
    margin-right: 30px;
    opacity: 0.5;
    color: white;
    background-color: #4a8cec;
    border: 1px solid #4a8cec;
}
.searching__img {
    width: 15px;
    margin-right: 4px;
}
.searching__secondButton {
    display: flex;
    flex-direction: row;
    opacity: 0.5;
    color: white;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    background-color: #4a8cec;
    border: 1px solid #4a8cec;
}

.form__buttonOk {
    font-size: 30px;
    line-height: 36px;
    background-color: white;
    border: none;
    color: #4a8cec;
}