header {
    background-color: #4a8cec;
    width: 100%;
}

.header__wrap {
    margin: 20px 0px;
    height: 95px;
}

.container {
    margin: 0 auto;
    width: 900px;
}

@media (min-width: 960px) {
    .container {
        width: 900px;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1100px;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 1400px;
    }
}

.header__location{
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__degreesButtons {
    font-size: 18px;
    line-height: 22px;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 95px;
    justify-content: space-between;
}

.degreesButton__wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 30px;
    width: 80px;
}

.focused {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.header__degreesButtons button {
    background-color: #4a8cec;
    color: white;
    width: 30px;
}
.degreesButton__dot {
    color: white;
    font-size: 18px;
}
.degreesButton__cButton {
    flex: 1;
    border: 1px solid white;
    border-right: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-right: none;
    width: 40px;
    height: 30px;
}
.degreesButton__cButton:active{
    background-color: darkblue;
}
.degreesButton__fButton:active{
    background-color: darkblue;
}

.degreesButton__cButton:focus{
    opacity: 0.5;
}
.degreesButton__fButton:focus{
    opacity: 0.5;
}
.degreesButton__fButton {
    flex: 1;
    border: 1px solid white;
    border-left: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-left: none;
    width: 40px;
    height: 30px;
}


